html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('/images/bg.jpg') no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: azure;
  min-height: 100%;
}

form {
  padding: 20px;
  margin: 60px;
}

form button, form h5 {
  margin: 20px 0;

}